<div class="container mt-5">
    <img src="@ViewBag.VerDetalleDeportistas.Foto" style="border-radius: 50%" height="240" width="240">
    <a href='@Url.Action("VerDetalleDeporte", new {idDeporte = ViewBag.VerDetalleDeportistas.IdDeporte})'><img src="@ViewBag.DeportistaYDeporte.Foto" height="160" width="300"></a>
    <p>@ViewBag.DeportistaYDeporte.Nombre</p>
    <a href='@Url.Action("VerDetallePais", new {idPais = ViewBag.VerDetalleDeportistas.IdPais})'><img src="@ViewBag.DeportistaYPais.Bandera" height="160" width="300"></a>
    <p>@ViewBag.DeportistaYPais.Nombre</p>
    <p>@ViewBag.VerDetalleDeportistas.Nombre</p>
    <p>@ViewBag.VerDetalleDeportistas.Apellido</p>
    <p>@ViewBag.VerDetalleDeportistas.FechaNacimiento.ToShortDateString()</p>
</div>