<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center">
        <img src="@ViewBag.VerDetalleDeportistas.Foto" style="border-radius: 50%" height="240" width="240">
        <div class="coi-12 ms-5">
            <div class="col-sm-2">
            <h1>@ViewBag.VerDetalleDeportistas.Nombre @ViewBag.VerDetalleDeportistas.Apellido</h1>  
            </div>
            <h5>Fecha de Nacimiento</h5>  
            <h5 >@ViewBag.VerDetalleDeportistas.FechaNacimiento.ToShortDateString()</h5>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <div class="imagenesPaises col-sm-3 text-center">
            <div class="d-flex justify-content-center">
                <a style="text-decoration: none" href= '@Url.Action("VerDetalleDeporte", new {idDeporte = @ViewBag.DeportistaYDeporte.IdDeporte})'>
                    <div class=" imagenesPaises mb-5" style="width: 10vw;">
                        <img class="shadow-lg mb-4 " style="border-radius: 20%" src="@ViewBag.DeportistaYDeporte.Foto" height="120" width="140">
                        <p class="text-black">@ViewBag.DeportistaYDeporte.Nombre</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="imagenesPaises col-sm-3 text-center">
            <div class="d-flex justify-content-center">
                <a style="text-decoration: none" href='@Url.Action("VerDetallePais", new {idPais = @ViewBag.DeportistaYPais.IdPais})'>
                    <div class=" imagenesPaises mb-5" style="width: 10vw;">
                        <img class="shadow-lg mb-4 " style="border-radius: 20%" src="@ViewBag.DeportistaYPais.Bandera" height="120" width="140">
                        <p class="text-black">@ViewBag.DeportistaYPais.Nombre</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>