<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center">
        <img src="@ViewBag.VerDetallePais.Bandera" style="border-radius: 50%" height="240" width="240">
        <div class="coi-12 ms-5">
            <div class="col-sm-2">
            <h1>@ViewBag.VerDetallePais.Nombre</h1>  
            </div>
            <h5>Fecha de fundacipon</h5>  
            <h5>@ViewBag.VerDetallePais.FechaFundacion.ToShortDateString()</h5>
        </div>
    </div>

    <div class="row mt-5">
    @foreach (Deportista deportista in ViewBag.DeportistaPais)
    {
        <div class="col-sm-3 text-center">
            <div class="d-flex justify-content-center">
                <a style="text-decoration: none" href='@Url.Action("VerDetalleDeportista", new {idDeportista = deportista.IdDeportista})'>
                    <div class="imagenesPaises mb-5" style="width: 10vw;">
                        <img class="shadow-lg mb-4 " style="border-radius: 20%" src="@deportista.Foto" height="180" width="200">
                        <p class="text-black">@deportista.Nombre @deportista.Apellido</p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

<div class="text-center">
    <form action='@Url.Action("AgregarDeportista")'>
        <button class="btn btn-primary" type="submit">Agregar deportista</button>
    </form>
</div>